@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #f4effe;
  --color-base-100: #f5f7fb;
  --color-base-200: #eaecf4;
  --color-base-300: #d6d8e5;
  --color-base-600: #7b8191;
  --color-secondary-0: #edeaff;
  --color-secondary-100: #8b8aff;
  --color-secondary-200: #7065f0;
  --color-secondary-300: #6851ff;
  --color-secondary-500: #6851ff;
  --color-secondary-600: #3d1efe;
  --color-secondary-700: #3d1efe;
  --color-secondary-800: #3118d6;
  --color-secondary-1000: #2511ae;
  --color-gray-100: #b5b8cb;
  --color-gray-200: #717788;
  --color-gray-300: #808080;
  --color-neutral-200: #eaecf4;
  --color-tabs-hover: #edeafe;
  --color-icon: #b3b3b3;

  --spacing-content-mobile: calc(100dvh - 80px);

  --text-xxs: 0.5rem;
  --text-xxs--line-height: calc(1 / 0.75);
  --text-2.5xl: 1.625rem;
  --text-2.5xl--line-height: calc(2.25 / 1.5);
  --text-3.5xl: 2rem;
  --text-3.5xl--line-height: 1.25;
  --text-4.5xl: 2.5rem;
  --text-4.5xl--line-height: calc(2.5 / 2.25);
  --text-6.5xl: 4rem;
  --text-6.5xl--line-height: calc(2.5 / 2.25);
}

@theme inline {
  --font-main: var(--font-plus-jakarta-sans);
}

body {
  @apply font-main;
}

.hamburger-item {
  @apply w-4.5 h-[2px] absolute mx-auto inset-x-0 bg-black transition-transform duration-300 ease-in-out;
}

.smooth-underline {
  @apply relative;
}

.smooth-underline::before {
  @apply absolute bottom-0 z-10 h-[1px] w-0 bg-black duration-300 content-[''];
}

.smooth-underline:hover::before {
  @apply w-full;
}

.purple-circle {
  @apply bg-[#8d8bfb] w-[473px] h-[488px] absolute rounded-full lg:bottom-0 -top-20 lg:top-auto;
}

.blur-circle {
  @apply absolute w-[736px] h-[822px] bg-white/90 backdrop-blur-[100px];
}
